[submodule "JS"]
	path = JS
	url = https://github.com/DKAResearchCenter/DKAJSFramework.git
[submodule "PHP"]
	path = PHP
	url = https://github.com/DKAResearchCenter/DKAPHPFramework.git
[submodule "CSharp"]
	path = CSharp
	url = https://github.com/DKAResearchCenter/DKACSharpFramework.git
[submodule "ANDROID"]
	path = ANDROID
	url = https://github.com/DKAResearchCenter/DKAAndroidFramework.git
